PIFF_SQL_SERVER=localhost\\SQLEXPRESS
PIFF_SQL_DATABASE=Projeto_54
PIFF_SQL_USERNAME=
PIFF_SQL_PASSWORD=
PIFF_SQL_DRIVER=ODBC Driver 17 for SQL Server
PIFF_SQL_TRUSTED_CONNECTION=true
PIFF_CACHE_TTL_SECONDS=300
